/*navbar syles*/
.navbar {
    border-radius: 0;
    border: none;
}

.navbar-collapse {
    border: none;
}

.navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

h1 {
  margin-top: 0;
  font-weight: 400;
}