@charset 'utf-8';
@import 'settings';
@import 'foundation';
@import 'motion-ui';
@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include motion-ui-transitions;
@include motion-ui-animations;
// general
// -------
p {
    margin-bottom: 2rem;
}

h3 {
    margin-top: 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
}

.button {
    text-transform: uppercase;
    font-weight: 700;
}

.button-red {
    background-color: $primary-red;
    &:hover {
        background-color: $secondary-red;
    }
}

// slide-out menu
// --------------
.off-canvas {
    .menu-subtitle {
        background-color: $secondary-blue;
    }
    a {
        color: $white;
    }
}

.off-canvas-content {
    box-shadow: none;
    min-height: 800px;
}

.menu-icon {
    margin: 1rem 0 2rem 0;
}

// hero
// ----
.hero {
    background: url('../img/hero-mobile.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 400px;
    width: 100%;
    h2 {
        text-align: center;
        color: $white;
        font-size: 1.6rem;
        font-weight: 700;
        padding-top: 3srem;
        padding-bottom: 0.5rem;
    }
    p {
        text-align: center;
        color: $white;
        font-family: 'Roboto Slab';
    }
    .button {
        margin-top: 4rem;
    }
}

// post tile
// ---------
.post-row {
    margin: 1rem 0.4rem 0.4rem 0.4rem;
    background-color: $white;
    .post-image {
        padding: 0px;
    }
}

// footer
// ------
.footer {
    margin-top: 2rem;
    background-color: $black;
    p {
        font-size: 0.8rem;
        font-weight: 800;
        text-transform: uppercase;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
        color: $white;
    }
    a {
        text-decoration: underline;
        color: $primary-red;
        &:hover {
            color: $secondary-red;
        }
    }
}

// post
// ----
.post-hero {
    .small-12 {
        height: 150px;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/spaghetti.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        margin-bottom: 1.5rem;
        h3 {
            margin-top: 1.5rem;
            color: $white;
        }
    }
}